/* Define CSS variables */
:root {
  --main-color: #041414;
  --secondary-color: rgb(4, 48, 10);
  --font-size: 16px;
}

/* Style the container for the cards */
#cards-container {
  display: flex; /* Make the cards appear in a row */
  flex-wrap: wrap; /* Wrap the cards if there is not enough space */
}

/* Style each card */
.card {
  width: 200px; /* Set the width of each card */
  height: 200px; /* Set the height of each card */
  margin: 10px; /* Add some margin around each card */
  text-align: center; /* Center the content of the card */
  border: 1px solid var(--secondary-color); /* Add a border to the card */
  box-shadow: 2px 2px 8px var(--secondary-color); /* Add a shadow to the card */
  background-color: #f5f5f5; /* Set the background color of the card */
  border-radius: 4px; /* Add rounded corners to the card */
  box-sizing: border-box; /* Include the padding and border in the width and height of the card */
}

/* Style the image in each card */
.card img {
  width: 100%; /* Set the width of the image to 100% of the card */
  margin-bottom: 10px; /* Add some margin below the image */
  border-radius: 4px 4px 0 0; /* Add rounded corners to the image */
}

/*style of the background and the title of the page*/
body {
  background-color: var(--main-color);
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: var(--font-size);
}

/*style of the title of the page*/
h1 {
  font-size: 2em;
  text-align: center;
}
